@model Package2Go5.Models.ViewModels.RoutesView

@{
    ViewBag.Title = "Create Route";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Routes", System.Web.Mvc.FormMethod.Post, new { @class="clearfix" }))
{
@Html.AntiForgeryToken()
@Html.ValidationSummary(true)

<fieldset style="float:left;">
    <legend>Create Route</legend>      
        
    <div class="editor-field">
        <ul id="waypoints">
            <li>
                @Html.EditorFor(model => model.from)
                @Html.ValidationMessageFor(model => model.from)
            </li>
            <li>
                <img src="~/Images/arrow.png" alt=""/>
                <input class="waypoint" name="waypoint_1" type="text" value="" placeholder="Way Point">
                <a href="#" id="remWaypoint">Remove</a>
            </li>
        </ul>
    </div>
    <a href="#" id="addWaypoint">Add Another Way Point</a>

    <div class="editor-label">
        @Html.LabelFor(model => model.departure_time)
    </div>
    <div class="editor-field">
        @Html.JQueryUI().DatepickerFor(model => model.departure_time)
        @Html.ValidationMessageFor(model => model.departure_time)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.delivery_time)
    </div>
    <div class="editor-field">
        @Html.JQueryUI().DatepickerFor(model => model.delivery_time)
        @Html.ValidationMessageFor(model => model.delivery_time)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.status_id)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.status_id, (System.Web.Mvc.SelectList)ViewBag.status)
        @Html.ValidationMessageFor(model => model.status_id)
    </div>

    <p>
        <input type="submit" value="Create" />
    </p>

</fieldset>
}
<div id="RouteSummary">
    
    <a href="#" id="tripInfo">Trip Info</a>
    <div id="totalDirection_panel" hidden="hidden"></div>

    <a href="#" id="segments" hidden="hidden">Show Route Segments</a>
    <div id="directions_panel" style="display:none"></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryGMAPAPI")
    <script type="text/javascript">
        $(document).ready(function () {
            WayPoints();

            $('#tripInfo').click(function (e) {
                e.preventDefault();
                if ($('#totalDirection_panel').css("display") == "none") {
                    $('#totalDirection_panel').show();
                    $('#segments').show();
                    $('#calCost').show();
                    $(this).text("Hide Trip Info");
                }
                else {
                    $('#totalDirection_panel').hide();
                    $('#segments').hide();
                    $('#calCost').hide();
                    $(this).text("Trip Info");
                }
            });

            $('#segments').click(function (e) {
                e.preventDefault();
                if ($('#directions_panel').css("display") == "none") {
                    $('#directions_panel').show();
                    $(this).text("Hide Routes Segments");
                }
                else {
                    $('#directions_panel').hide();
                    $(this).text("Show Routes Segments");
                }
            });
        });
    </script>
}
