@model Package2Go5.Models.ViewModels.RoutesView

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend>Route</legend>

    <div class="display-label">
         @Html.DisplayName("Path")
    </div>
    <div class="route">
        <div class="display-field">@Html.DisplayFor(model => model.from)</div>
        @foreach (string waypoint in Model.waypointsList) {
            <img src="~/Images/arrow-down.png" alt="to" />
            <div class="display-field">@waypoint</div>
        }
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.departure_time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.departure_time)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.delivery_time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.delivery_time)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Username)
    </div>
    <div class="display-field">
        @Html.ActionLink(Model.Username, "Profile", "UserProfile", new { username=Model.Username }, null)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rate) (@ViewBag.commentCount)
    </div>
</fieldset>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}