@model Package2Go5.vw_routes

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend>Details</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.from)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.from)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.waypoints)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.waypoints)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.departure_time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.departure_time)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.delivery_time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.delivery_time)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.user_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.user_id)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts 
{
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var geocoder, map;

            var Lithuania = new google.maps.LatLng(55.00, 25.15);
            var mapOptions = {
                zoom: 8,
                center: Lithuania,
                mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
            };

            map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        });
    </script>
}