@model Package2Go5.Models.ViewModels.RoutesView


@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Items</h2>
<table id="Items">
    <thead>
        <tr>
            <th>
                @Resources.DisplayNames.item_id
            </th>
            <th>
                @Resources.DisplayNames.title
            </th>
            <th>
                @Resources.DisplayNames.address
            </th>
            <th>
                @Resources.DisplayNames.delivery_address
            </th>
            <th>
                @Resources.DisplayNames.size
            </th>
            <th>
                @Resources.DisplayNames.delivery_price
            </th>
            <th>
                @Resources.DisplayNames.currency_id
            </th>
            <th>
                @Html.DisplayName("Price, ")@ViewBag.userCurrency
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Items != null) {
            foreach (var item in Model.Items)
            {
            <tr>
                <td>@Html.Raw(item.id)</td>
                <td>@Html.Raw(item.title)</td>
                <td>@Html.Raw(item.address)</td>
                <td>@Html.Raw(item.delivery_address)</td>
                <td>@Html.Raw(item.size)</td>
                <td>@Html.Raw(item.delivery_price)</td>
                <td>@Html.Raw(item.Currencies.code)</td>
                <td>@ViewBag.ItemsPrices[item.id]</td>
                <td>
                    @if (User.Identity.IsAuthenticated && item.UsersItems.Where(ui=>ui.item_id == item.id).First().user_id == ViewBag.User_id)
                    {
                        @Html.ActionLink("Edit", "Edit", new { id=item.id })
                        @Html.ActionLink("Delete", "Delete", new { id=item.id })
                    }else
                    {
                        <a href="#" title="@item.id" id="Add">Add</a>
                    }
                </td>
            </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <th>
                <input type="text" name="0" placeholder="id" />
            </th>
            <th>
                <input type="text" name="1" placeholder="title" />
            </th>
            <th>
                <input type="text" name="2" placeholder="address" />
            </th>
            <th>
                <input type="text" name="3" placeholder="delivery_address" />
            </th>
            <th>
                <input type="text" name="4" placeholder="size"/>
            </th>
            <th>
                <input type="text" id="min" placeholder="min"/><input type="text" id="max" placeholder="max"/>
            </th>
            <th>
                <input type="text" name="6" placeholder="currency"/>
            </th>     
            <th>
                <input type="text" id="userPriceMin" placeholder="min"/><input type="text" id="userPriceMax" placeholder="max"/>
            </th>
            <th>
                @Html.DropDownList("action", (System.Web.Mvc.SelectList)ViewBag.actionList)
            </th>
        </tr>
    </tfoot>
</table>

</div>
<div style="width:100px; height:1px;">
<div id="over_map2" onload="GetItemsMarkers()">

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Routes</legend>

        <a href="#" id="showItems">Show Items</a>
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.waypoints, new { id="" })
        <input type="hidden" id="currency" value="@ViewBag.userCurrency"/>

        <div class="editor-field">
            <ul id="waypoints">
                <li>
                    <div class="dragImage"></div>
                    @Html.EditorFor(model => model.from)
                    @Html.ValidationMessageFor(model => model.from)
                </li>
            </ul>
        </div>
        <a href="#" id="addWaypoint">Add Another Input Box</a>

        <div id="itemList">
            <b>Items: </b>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.departure_time)
        </div>
        <div class="editor-field">
            @Html.JQueryUI().DatepickerFor(model => model.departure_time)
            @Html.ValidationMessageFor(model => model.departure_time)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.delivery_time)
        </div>
        <div class="editor-field">
            @Html.JQueryUI().DatepickerFor(model => model.delivery_time)
            @Html.ValidationMessageFor(model => model.delivery_time)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.status_id)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.status_id, (SelectList)@ViewBag.status)
            @Html.ValidationMessageFor(model => model.status_id)
        </div>
        <div class="editor-label">
            <label>Max item Distance, km</label>
        </div>
        <div class="editor-field">
            <input type="text" id="ItemRange" placeholder="Max item distance" value="50" />
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div id="RouteSummary">
    
    <a href="#" id="tripInfo">Trip Info</a>
    <div id="totalDirection_panel" hidden="hidden"></div>

    <a href="#" id="segments" hidden="hidden">Show Route Segments</a>
    <div id="directions_panel" style="display:none"></div>
    <div></div>
    <a href="#" id="calCost" hidden="hidden">Calculate Travel Costs</a>
    <div id="calculateCosts" hidden="hidden">
        <div id="paymentsforservice"></div>
        <div id="totalCost"></div>
        <div id="travelCost"></div>

        <label>Oil Price</label><br/>
        <input id="oilPrice" type="text" placeholder="oil price"/><br/>
        <label>Oil Per KM</label><br/>
        <input id="oilperKm" type="text" placeholder="oil l/km"/>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/jqueryGMAPAPI")

    <script type="text/javascript" src="~/Scripts/ShowMarkers.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            GetItemsMarkers();

            //$('input[name=optimized]').change(function () {
            //    calcRoute();
            //});

            $('#showItems').click(function (e) {
                e.preventDefault();
                if ($('#over_map').css("display") == "none") {
                    $('#over_map').show();
                    $(this).text("Hide Items");
                }
                else {
                    $('#over_map').hide();
                    $(this).text("Show Items");
                }
            });

            $('#tripInfo').click(function (e) {
                e.preventDefault();
                if ($('#totalDirection_panel').css("display") == "none") {
                    $('#totalDirection_panel').show();
                    $('#segments').show();
                    $('#calCost').show();
                    $(this).text("Hide Trip Info");
                }
                else {
                    $('#totalDirection_panel').hide();
                    $('#segments').hide();
                    $('#calCost').hide();
                    $(this).text("Trip Info");
                }
            });

            $('#segments').click(function (e) {
                e.preventDefault();
                if ($('#directions_panel').css("display") == "none") {
                    $('#directions_panel').show();
                    $(this).text("Hide Routes Segments");
                }
                else {
                    $('#directions_panel').hide();
                    $(this).text("Show Routes Segments");
                }
            });

            $('#calCost').click(function (e) {
                e.preventDefault();
                if ($('#calculateCosts').css("display") == "none") {
                    $('#calculateCosts').show();
                    $(this).text("Hide Calculated Costs");
                }
                else {
                    $('#calculateCosts').hide();
                    $(this).text("Show Calculated Costs");
                }
            });

            $('#ItemRange').change(function () {
                markItems();
            });

        });

        $('#over_map').hide();

    </script> 



}
