@model Package2Go5.Models.ViewModels.RoutesView


@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Items</h2>

<table id="Items">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("id")
            </th>
            <th>
                @Html.DisplayName("title")
            </th>
            <th>
                @Html.DisplayName("address")
            </th>
            <th>
                @Html.DisplayName("delivery_address")
            </th>
            <th>
                @Html.DisplayName("size")
            </th>
            <th>
                @Html.DisplayName("delivery_price")
            </th>
            <th>
                @Html.DisplayName("currency")
            </th>
            <th>
                @Html.DisplayName("price, ")@ViewBag.userCurrency
            </th>
            <th>
                @Html.DisplayName("note")
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items) {
            <tr>
                <td>@Html.Raw(item.id)</td>
                <td>@Html.Raw(item.title)</td>
                <td>@Html.Raw(item.address)</td>
                <td>@Html.Raw(item.delivery_address)</td>
                <td>@Html.Raw(item.size)</td>
                <td>@Html.Raw(item.delivery_price)</td>
                <td>@Html.Raw(item.Currencies.code)</td>
                <td>@ViewBag.ItemsPrices[item.id]</td>
                <td>@Html.Raw(item.note)</td>
                <td>
                    @if (User.Identity.IsAuthenticated && item.UsersItems.Where(ui=>ui.item_id == item.id).First().user_id == ViewBag.User_id)
                    {
                        @Html.ActionLink("Edit", "Edit", new { id=item.id })
                        @Html.ActionLink("Delete", "Delete", new { id=item.id })
                    }else
                    {
                        <a href="#" title="@item.id" id="Add">Add</a>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>
                <input type="text" name="0" placeholder="id" />
            </th>
            <th>
                <input type="text" name="1" placeholder="title" />
            </th>
            <th>
                <input type="text" name="2" placeholder="address" />
            </th>
            <th>
                <input type="text" name="2" placeholder="delivery_address" />
            </th>
            <th>
                <input type="text" name="3" placeholder="size"/>
            </th>
            <th>
                <input type="text" id="min" placeholder="min"/><input type="text" id="max" placeholder="max"/>
            </th>
            <th>
                <input type="text" name="5" placeholder="currency"/>
            </th>     
            <th>
                <input type="text" id="userPriceMin" placeholder="min"/><input type="text" id="userPriceMax" placeholder="max"/>
            </th>       
            <th>
                <input type="text" name="7" placeholder="note"/>
            </th>
            <th>
                @Html.DropDownList("action", (System.Web.Mvc.SelectList)ViewBag.actionList)
            </th>
        </tr>
    </tfoot>
</table>

</div>
<div style="width:100px; height:1px;">
<div id="over_map2">

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Routes</legend>

        <a href="#" id="showItems">Show Items</a>

        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.waypoints, new { id="" })
        <input type="hidden" id="currency" value="@ViewBag.userCurrency"/>

        <div class="editor-field">
            <ul id="waypoints">
                <li>
                    <img src="~/Images/arrow.png" alt=""/>
                    @Html.EditorFor(model => model.from)
                    @Html.ValidationMessageFor(model => model.from)
                </li>
            </ul>
        </div>
        <a href="#" id="addWaypoint">Add Another Input Box</a>
        <p>
            Optimal route? <input name="optimized" type="checkbox" />
        </p>
        <div class="editor-label">
            @Html.LabelFor(model => model.departure_time)
        </div>
        <div class="editor-field">
            @Html.JQueryUI().DatepickerFor(model => model.departure_time)
            @Html.ValidationMessageFor(model => model.departure_time)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.delivery_time)
        </div>
        <div class="editor-field">
            @Html.JQueryUI().DatepickerFor(model => model.delivery_time)
            @Html.ValidationMessageFor(model => model.delivery_time)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.status_id)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.status_id, (System.Web.Mvc.SelectList)ViewBag.status)
            @Html.ValidationMessageFor(model => model.status_id)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div id="RouteSummary">
    
    <a href="#" id="tripInfo">Trip Info</a>
    <div id="totalDirection_panel" hidden="hidden"></div>

    <a href="#" id="segments" hidden="hidden">Show Route Segments</a>
    <div id="directions_panel" style="display:none"></div>
    <ul id="paymentsByCurrencies"></ul>

    <a href="#" id="calCost" hidden="hidden">Calculate Travel Costs</a>
    <div id="calculateCosts" hidden="hidden">
        <div id="paymentsforservice"></div>
        <div id="totalCost"></div>
        <div id="travelCost"></div>

        <label>Oil Price</label><br/>
        <input id="oilPrice" type="text" placeholder="oil price"/><br/>
        <label>Oil Per KM</label><br/>
        <input id="oilperKm" type="text" placeholder="oil l/km"/>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/DataTables")

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    @Scripts.Render("~/bundles/jqueryGMAPAPI")
    @Styles.Render("~/Content/GMapApi")

    <script type="text/javascript" src="~/Scripts/ShowMarkers.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $('input[name=optimized]').change(function () {
                calcRoute();
            });

            $('#showItems').click(function (e) {
                e.preventDefault();
                if ($('#over_map').css("display") == "none") {
                    $('#over_map').show();
                    $(this).text("Hide Items");
                }
                else {
                    $('#over_map').hide();
                    $(this).text("Show Items");
                }
            });

            $('#tripInfo').click(function (e) {
                e.preventDefault();
                if ($('#totalDirection_panel').css("display") == "none") {
                    $('#totalDirection_panel').show();
                    $('#segments').show();
                    $('#calCost').show();
                    $(this).text("Hide Trip Info");
                }
                else {
                    $('#totalDirection_panel').hide();
                    $('#segments').hide();
                    $('#calCost').hide();
                    $(this).text("Trip Info");
                }
            });

            $('#segments').click(function (e) {
                e.preventDefault();
                if ($('#directions_panel').css("display") == "none") {
                    $('#directions_panel').show();
                    $(this).text("Hide Routes Segments");
                }
                else {
                    $('#directions_panel').hide();
                    $(this).text("Show Routes Segments");
                }
            });

            $('#calCost').click(function (e) {
                e.preventDefault();
                if ($('#calculateCosts').css("display") == "none") {
                    $('#calculateCosts').show();
                    $(this).text("Hide Calculated Costs");
                }
                else {
                    $('#calculateCosts').hide();
                    $(this).text("Show Calculated Costs");
                }
            });
        });

        $('#over_map').hide();
        
        var input;
        function AddItem(id)
        {
            addedItems.push(id);
            dirRenderer.forEach(function (data) {
                data.setMap(null);
            });
            dirRenderer = [];

            $('tbody tr').each(function () {
                var item = $(this).last().find('a');
                if (item.attr("title") == id)
                    AddItemToRoute(item);
            });
        }

        function RemoveItem(id) {

            addedItems.splice($.inArray(id, addedItems), 1);


            $('tbody tr').each(function () {
                var item = $(this).last().find('a');
                if (item.attr("title") == id)
                    RemoveItemFromRoute(item);
            });
        }

    </script> 



}
