@model IEnumerable<Package2Go5.Offers>
    <div id="header" class="clearfix">
        <div class="HeaderLeft">
            
            <a href="~/"><img src="~/Images/Logo.png" alt="logo"/></a>
            <nav>
                @*@Html.MvcSiteMap().Menu("BootstrapMenuHelperModel")*@
                <div class="navbar">
                    <div class="navbar-inner">
                        <ul class="nav">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="/Routes">Routes <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Create", "create", "Routes")</li>
                                    <li>@Html.ActionLink("FindRoute", "findroute", "Routes")</li>
                                    @if (User.Identity.IsAuthenticated){<li>@Html.ActionLink("MyRoutes", "Index", "Routes")</li>}
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="/Items">Items <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Create", "create", "Items")</li>
                                    @if (User.Identity.IsAuthenticated){<li>@Html.ActionLink("MyItems", "index", "Items")</li>}
                                </ul>
                            </li>

                            @* Admin *@
                            @if (User.Identity.IsAuthenticated && ViewBag.role == 1)
                            {
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administravimas <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("RoutesList", "Index", "Routes")</li>
                                        <li>@Html.ActionLink("ItemsList", "Index", "Items")</li>
                                    </ul>
                                </li>
                            }

                            @if(User.Identity.IsAuthenticated){
                                <li>@Html.ActionLink("Profile", "Edit", "UserProfile")</li>
                                <li>@Html.ActionLink("Logout ("+User.Identity.Name+")", "logout", "UserProfile")</li>
                            }else{
                                <li>@Html.ActionLink("Login", "login", "UserProfile")</li>
                            }


                        </ul>
                    </div>
                </div>

            </nav>
        </div>
        @if(User.Identity.IsAuthenticated){
            <div class="HeaderRight clearfix">
                <div class="messages">
                    <a href="#" title="messages">Messages</a>
                    <ul id="messages" style="display:none">
                        @foreach (Package2Go5.vw_messages message in @ViewBag.Messages) 
                        {
                            <li>
                                <input type="hidden" value="@message.id" />
                                <p>From: <span>@message.from</span></p>  
                                <p>Date: <span>@message.date</span></p>  
                                <p>Message:<span>@message.message</span></p>
                                <div class="clearfix">
                                    <a href="#" title="replay">Replay</a>
                                    <a href="/Messages/Details/@message.id">More</a>
                                    <a href="#" title="hide">Hide</a>
                                </div>
                                <hr>
                            </li>
                        }
                        @foreach(Package2Go5.Offers offer in Model)
                        {
                            <li class="offer">
                                <h4>Offer</h4>
                                <input type="hidden" class="routeId" value="@offer.route_id" />
                                <input type="hidden" class="itemId" value="@offer.item_id" />
                                <input type="hidden" value="@offer.id" />
                                <p>Item: @offer.Items.title</p>
                                <p>To: @offer.Items.delivery_address</p>
                                <p>Price: @offer.Items.delivery_price @offer.Items.Currencies.code</p>
                                <div class="clearfix">
                                    <a href="/Routes/Edit/@offer.route_id?item=@offer.item_id">Look</a>  
                                    <a href="#" title="hide">Hide</a>
                                    <a href="#" title="Accept">Accept</a>
                                </div>
                                <hr> 
                            </li>
                        }
                        <li class="ShowAll">
                            <a href="/Messages">Show All Messages</a>
                            <a href="/Offers">Show All Offers</a>
                        </li>
                    </ul>
                </div>
                <div class="messages">
                    <a href="#" title="new_message">New Messages</a>
                    <div id="message" style="display:none">
                        <form  method="post" action="/Messages/Create">
                            @Html.TextBox("to", null, new { @placeholder="Send To" })<br>
                            <textarea name="message" placeholder="Message"></textarea><br>
                            <input type="submit" value="Send" /><br>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>