<!DOCTYPE html>
<html style="width:100%; height:100%;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")

</head>
<body>
    <div id="wrapper">

        <div id="canvas_holder">
            <div id="map_canvas" style="overflow:scroll;"></div>
        </div>

        <div class="content">
            @Html.Action("Header", "Home")
            <div>
                <div id="over_map">
                    @RenderBody()
                </div>
            </div>
        </div>

    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            $('a[title=messages]').append(" " + ($('#messages li').length-1))

            $('#messages li:gt(2)').hide();
            $('#messages .ShowAll').show();

            $('a[title=messages]').click(function (e) {
                e.preventDefault();
                if ($('#messages').is(":hidden"))
                    $('#messages').show()
            });

            $('a[title=new_message]').click(function (e) {
                e.preventDefault();
                if ($('#message').is(":hidden"))
                    $('#message').show()
            });

            $("input[name=to]").change(function () {
                console.log($(this).val());
            });

            $.getJSON(
            "/Home/FindUsers", {},
            function (myData) {
                $("#to").autocomplete({
                    source: myData
                });
            });

            $('a[title=replay]').click(function (e) {
                e.preventDefault();
                $("#messages").hide();
                $('#message').show();
                $('#message').find('input[name=to]').val($(this).parent().prev().prev().prev().children().text());
            });
        });

        $('a[title=hide]').click(function (e) {
            e.preventDefault();

            if ($(this).parent().parent().hasClass("offer")) {
                var url = "/Offers/Edit/" + $(this).parent().prev().prev().prev().prev().val();
                $.get(url, null, function () { });
            }
            else {
                var url = "/Messages/Edit/" + $(this).parent().prev().prev().prev().prev().val();
                $.get(url, null, null);
            }

            $(this).parent().parent().remove();
            var messagesA = $('a[title=messages]');
            messagesA.text(messagesA.text().split(" ")[0] + " " + (messagesA.text().split(" ")[1] - 1));

            $('#messages li:hidden:first').show();
        });
        
        $('a[title=Accept]').click(function (e) {
            e.preventDefault();

            var itemId = $(this).parent().parent().find('.itemId').val();

            var url = "/Routes/AcceptOrder?r=" + $(this).parent().parent().find('.routeId').val() + "&i=" + itemId;
            $.get(url, null, function () { });
            //$(this).parent().parent().remove();



            var i = 0;
            $('#messages li').each(function () {
                if ($(this).hasClass("offer") && $(this).find('.itemId').val() == itemId)
                {
                    $(this).remove();
                    i += 1;
                    $('#messages li:hidden:first').show();
                }
            });

            var messagesA = $('a[title=messages]');
            messagesA.text(messagesA.text().split(" ")[0] + " " + (messagesA.text().split(" ")[1] - 1*i));

            
        });

        //Hide Messages and new message
        $(document).mouseup(function (e) {
            if (!$("#messages").is(e.target) && $("#messages").has(e.target).length === 0)
                $("#messages").hide();

            if (!$("#message").is(e.target) && $("#message").has(e.target).length === 0)
                $("#message").hide();
        });

    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
