@model Package2Go5.Models.ViewModels.UserProfileView

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend>Your Profile</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
    </div>

    <div class="display-field">
        @if (!String.IsNullOrEmpty(Model.image_url))
        {
            <img class="photo" src="/Images/Profiles/@Model.image_url" alt="Profile photo"/>
        }
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lastname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lastname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.gender)
    </div>
    <div class="display-field">
        @((Package2Go5.Constants.CProfile.genderType)Model.gender)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.birthday)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.birthday)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.phone_nr)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phone_nr)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rate) (@Model.commentCount)
    </div>

    <p>
        <a href="#" title="showComments">Show Last Comments</a>
    </p>
    <ul id="comments">
        @if (Model.comments.Count() == 0) 
        { 
            <li>No Comments</li>
        }else{

            foreach (Package2Go5.Models.ViewModels.CommentsView comment in Model.comments) 
            {
                <li>
                    <p>@comment.comment</p>
                    <p><b>Written by: </b><a href="/UserProfile/Profile?username=@comment.writer">@comment.writer</a></p>
                    @comment.date
                    <hr>
                </li>
            }
        }
    </ul>
</fieldset>

@section Scripts {
    <script type="text/javascript">

        //if ($('.validation-summary-errors').text() != "") {
            
        //}

        $('a[title=showComments]').click(function (e) {
            e.preventDefault();
            if ($('#comments').css("display")=="none") {
                $('#comments').css("display", "block");
                $(this).text('Hide Comments');
            } else {
                $('#comments').css("display", "none");
                $(this).text('Show Last Comments');
            }
        });

    </script>
}