@model IEnumerable<Package2Go5.Models.ViewModels.UserProfileView>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users List</h2>

<table id="Users">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone_nr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image_url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.currency_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.commentCount)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td></td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone_nr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.image_url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.currency_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.commentCount)
            </td>
            <td>
                @Html.ActionLink("Details", "Profile", new { username=item.Username })
                @*@Html.ActionLink("Delete", "Delete", new { id=item.UserId })*@
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th>
                <input type="text" placeholder="@Html.DisplayNameFor(model => model.UserId)"/>
            </th>
            <th>
                <input type="text" placeholder="@Html.DisplayNameFor(model => model.Username)" />
            </th>
            <th>
                <input type="text" placeholder="@Html.DisplayNameFor(model => model.name)"/>
            </th>
            <th>
                <input type="text" placeholder="@Html.DisplayNameFor(model => model.lastname)"/>
            </th>
            <th>
                <input type="text" placeholder="@Html.DisplayNameFor(model => model.gender)"/>
            </th>
            <th>
                <input type="text" placeholder="@Html.DisplayNameFor(model => model.birthday)"/>
            </th>
            <th>
                <input type="text" placeholder="@Html.DisplayNameFor(model => model.phone_nr)"/>
            </th>
            <th>
                <input type="text" placeholder="@Html.DisplayNameFor(model => model.rate)"/>
            </th>
            <th>
                <input type="text" placeholder="@Html.DisplayNameFor(model => model.image_url)"/>
            </th>
            <th>
                <input type="text" placeholder="@Html.DisplayNameFor(model => model.currency_id)"/>
            </th>
            <th>
                <input type="text" placeholder="@Html.DisplayNameFor(model => model.commentCount)"/>
            </th>
            <th></th>
        </tr>
    </tfoot>
</table>

@section Scripts 
{
    @Scripts.Render("~/bundles/DataTables")
    <script type="text/javascript">
        $(document).ready(function () {

            //filter
            var oTable = $('#Users').dataTable({
                "aaSorting": [[4, "desc"]],
                "sDom": '<"top"l>rt<"bottom"ip>',
                "iDisplayLength": 5,
                "oLanguage": {
                    "sLengthMenu": 'Display <select>' +
                      '<option value="5">5</option>' +
                      '<option value="10">10</option>' +
                      '<option value="20">20</option>' +
                      '<option value="-1">All</option>' +
                      '</select> records'
                },
                "aoColumns": [null, null, null, null, null, null, null, null, null, null, null, null, { "bSortable": false }]
            });

            $("tfoot input").keyup(function () {
                oTable.fnFilter(this.value, $("tfoot input").index(this));
            });

        });
    </script>
}
