@model Package2Go5.UserProfile

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile</h2>

<fieldset>
    <legend>UserProfileView</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lastname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lastname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.gender)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.gender)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.birthday)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.birthday)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.phone_nr)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phone_nr)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
