@model Package2Go5.Models.ViewModels.ItemsView

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Items</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.title)
            @Html.ValidationMessageFor(model => model.title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.delivery_address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.delivery_address)
            @Html.ValidationMessageFor(model => model.delivery_address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.size)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.size)
            @Html.ValidationMessageFor(model => model.size)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.delivery_price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.delivery_price)
            @Html.ValidationMessageFor(model => model.delivery_price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.currency_id)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.currency_id, (System.Web.Mvc.SelectList)ViewBag.Currencies)
            @Html.ValidationMessageFor(model => model.currency_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.note)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.note)
            @Html.ValidationMessageFor(model => model.note)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <script type="text/javascript">
        new google.maps.places.Autocomplete(document.getElementById('delivery_address'));

        var marker;
        var Lithuania = new google.maps.LatLng(55.00, 25.15);
        var mapOptions = {
            zoom: 8,
            center: Lithuania,
            mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
        };

        map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

        $('#delivery_address').focusout(function () {
            $(this).attr("value", $(this).val());
            
            var address = $(this).val();
            geocoder = new google.maps.Geocoder();

            geocoder = new google.maps.Geocoder(); geocoder.geocode({ 'address': address }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {

                    map.setCenter(results[0].geometry.location);
                    
                    if (typeof marker != "undefined")
                        marker.setMap(null);

                    marker = new google.maps.Marker({

                        map: map,

                        position: results[0].geometry.location
                    });
                }
            });
        });

    </script>
}
