@model Package2Go5.Models.ViewModels.ItemsView

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend>@Html.DisplayFor(model => model.title)</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.address):
    </div>
    <div class="display-field address">
        @Html.DisplayFor(model => model.address)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.delivery_address):
    </div>
    <div class="display-field delivery_address">
        @Html.DisplayFor(model => model.delivery_address)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.delivery_date):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.delivery_date)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.size)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.size)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.delivery_price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.delivery_price) @Model.currency
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.note)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.note)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.owner)
    </div>
    <div class="display-field">
        @Html.ActionLink(Model.owner, "Profile", "UserProfile", new { username=Model.owner }, null)
    </div>
</fieldset>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryGMAPAPI")
    <script type="text/javascript">
        $(document).ready(function () {

            var directionsService = new google.maps.DirectionsService();

            directionsService.route({
                origin: $('.address').text().trim(),
                destination: $('.delivery_address').text().trim(),
                travelMode: google.maps.DirectionsTravelMode.DRIVING
            }, function (result) {
                directionsRenderer = new google.maps.DirectionsRenderer();
                directionsRenderer.setMap(map);
                directionsRenderer.setDirections(result);
            });
        });
    </script>
}
