@model Package2Go5.Models.ViewModels.ItemsView

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Edit Item</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.title)
            @Html.ValidationMessageFor(model => model.title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.address)
            @Html.ValidationMessageFor(model => model.address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.delivery_address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.delivery_address)
            @Html.ValidationMessageFor(model => model.delivery_address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.delivery_date)
        </div>
        <div class="editor-field">
            @Html.JQueryUI().DatepickerFor(model => model.delivery_date)
            @Html.ValidationMessageFor(model => model.delivery_date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.size)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.size)
            @Html.ValidationMessageFor(model => model.size)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.delivery_price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.delivery_price)
            @Html.ValidationMessageFor(model => model.delivery_price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.note)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.note)
            @Html.ValidationMessageFor(model => model.note)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.status_id)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.status_id, (System.Web.Mvc.SelectList)ViewBag.status)
            @Html.ValidationMessageFor(model => model.status_id)
        </div>


        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/ItemsDirection.js"></script>
}
