@model Package2Go5.Models.ViewModels.MessagesView

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend>Full Message</legend>

    <p>@Html.DisplayFor(model => model.date)</p>
    <p>
         <label>@Html.DisplayNameFor(model => model.from):</label>
        <a href="/UserProfile/Profile?username=@Model.from">@Html.DisplayFor(model => model.from)</a>
    </p>
    <p class="display-label">
         @Html.DisplayNameFor(model => model.message):
    </p>
    <p>@Html.DisplayFor(model => model.message)</p>

    <div><a href="#" title="replay">Replay</a></div>
</fieldset>
